/*!
 * These WOFF/WOFF2 files are provided under the SIL Open Font License version 1.1
 * For more details, see WOFF extended metadata or https://opensource.org/licenses/OFL-1.1
 */
@charset "utf-8";
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/013.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/000.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/045.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/027.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/012.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/004.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/011.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/017.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/044.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/040.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/023.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/041.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/015.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/022.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/007.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/024.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/025.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/026.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/049.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/048.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/021.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/020.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/029.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/043.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/014.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/046.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/008.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/018.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/037.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/036.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/042.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/047.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/002.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/033.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/038.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/034.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/009.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/019.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/003.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/016.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/005.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/010.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/030.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/035.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/006.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/032.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/001.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/028.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/050.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/039.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal/031.woff2) format('woff2');
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/000.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/001.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/002.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/003.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/004.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/005.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/006.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/007.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/008.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/009.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/010.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/011.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/012.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/013.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/014.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/015.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/016.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/017.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/018.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/019.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/020.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/021.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/022.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/023.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/024.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/025.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/026.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/027.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/028.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/029.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/030.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/031.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/032.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/033.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/034.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/035.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/036.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/037.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/038.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/039.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/040.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/041.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/042.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/043.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/044.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/045.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/046.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/047.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/048.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/049.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/050.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}
